html {
    scroll-behavior: smooth;
}

body {
    background-color: #D1D2F9;
}

nav {
    background-color: #A3BCF9;    
}

nav a {
    color: #ffffff;
}

.marca {
    color: darkblue;
}

.card-img-top {
    cursor: pointer;
}

.card-img-top:hover {
    box-shadow: 2px 2px 10px 2px #000000;
}

footer {
    position: relative;
    bottom: -15px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #576490;
}

.promocao-desc {
    text-transform: uppercase;
    background-color: #576490;
    color: white;
}

footer div.container {    
    color: #ffffff;
}

.div-form {
    background-color: #ffffff;
    border-radius: 15px;
}

.margin-top {
    margin-top: 75px;
}

.featurette-div {
    min-height: 75vh;
}

.carousel {
    top: 60px;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.item.active {
    display: block;
}

.carousel-item img {
    object-fit: cover; object-position: 100% 0;
}

.carousel {
    height: 100vh;
    width: 100%;
    overflow:hidden;
}
.carousel .carousel-inner {
    height:100%;    
}

.carousel .carousel-inner img {
    display: block;
    object-fit: cover;
    filter: grayscale(100%) blur(5px);
}

.carousel-caption {
    bottom: 450px !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.cordetexto {
    color: #000000
}

.cabecalhocor {
    color: #55256a
}

.brand-img, .brand-img img {
    width: 10%;
    height: 10%;
}

.section {
    min-height: 500px;
}